body{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
}

.content{
    height: 400px;
    width: 750px;
    overflow: hidden;
    box-shadow: 1px 1px  15px rgba(0,0,0,0.4);
}

.content .images{
    height : 100%;
    width: 100%;
}

.images img{
    display: none;
    height: 100%;
    width: 100%;
}